* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ML';
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
img, video {
    height: auto;
    display: block;
}

/* header */ 

.header {
    display: flex;
    flex-direction: column;
}
.header__nav {
    display: flex;
    width: 100%;
    backdrop-filter: blur(7.5px);
    background: rgba(1, 3, 5, 0.8);
    padding: 0 40px;
}
.nav__box {
    display: flex;
    width: 100%;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.nav__logo img {
    width: 184px;
}
.nav__burger img {
    width: 100%;
    height: 100%;
    background: white;
}
.nav__list {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.nav__list li {
    width: 110px;
}
.nav__list li:nth-last-child(3),
.nav__list li:nth-last-child(2),
.nav__list li:nth-last-child(1){
    width: auto;
}
.nav__list-link {
    width: auto;
    display: flex;
    color: white;
    font-size: 16px;
    transition: all 300ms;
    font-family: 'MM';
}
.nav__list-link:hover {
    color: gray;
}

/* header content */

.header__content {
    padding: 15px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 100vh;
}
.header__video {
    z-index: -2;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.header__content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.header__content-title {
    font-family: 'ML';
    font-size: 80px;
    color: white;
    line-height: 1.1;
}
.header__content-text {
    width: 720px;
    line-height: 1.2;
    font-size: 55px;
    font-family: 'MM';
    color: white;
    text-align: justify;
}

/* main */

.main {
    display: flex;
    flex-direction: column;
}

/* welcome */

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.welcome__title {
    font-family: 'MB';
    text-align: center;
    display: flex;
    font-size: 40px;
}
.welcome__box {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}
.welcome__box-text {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px -2px 20px 2px rgba(34, 80, 57, 0.2);
    height: 100%;
    gap: 30px;
    padding: 20px;
}
.welcome__box-text p {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-family: 'MM';
    font-size: 25px;
}
.welcome__box-img:first-child {
    height: 200px;
}
.welcome__box-img:last-child {
    height: 150px;
}

/* direction */

.direction {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.direction__title {
    font-family: 'MB';
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 30px 0;
}

/* infinte-slider */
.direction__infinite-slider {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding: 20px 0;
}
.track {
    display: inline-flex;
    align-items: center;
    animation: scroll-right 40s linear infinite;
    gap: 30px;
}
.track__item {
    flex: 0 0 auto;
    font-size: 36px;
    margin: 0 30px;
}

/* Ключевая бесшовная анимация */

@keyframes scroll-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}
.direction__text {
    margin-top: 40px;
    font-family: 'MB';
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.direction__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.direction__box-item {
    display: flex;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    height: 100%;
}
.direction__box-item img {
    border: 2px black solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
}
.direction__box-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 320px;
    gap: 10px;
}
.direction__box-item-text h2 {
    font-family: 'MM';
}
.direction__box-item-text p {
    font-family: 'MM';
}

/* career */

.career__title {
    font-family: 'MB';
    text-align: center;
    font-size: 40px;
    padding: 30px 0;
}
.career__box {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/photo2.jpg) no-repeat center /cover ;   
    box-shadow: 0px -2px 20px 2px rgba(34, 80, 57, 0.2);    
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 30px;
    justify-content: center;
    height: 400px;
    border-radius: 30px;
}
.career__box-text {
    font-family: 'MM';
    font-size: 25px;
    color: white;
}
.career__box-text:first-child {
    font-size: 30px;
}

/* career why */

.career__why-title {
    margin-top: 50px;
    text-align: center;
    font-family: 'MB';
    font-size: 40px;
}
.career__why-box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
}
.career__why-box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 100px;
    gap: 10px;
}
.line-top {
    content: '';
    width: 3px;
    height: 50px;
    background: black;
    left: 33.5px;
    bottom: 250px;
    position: absolute;
}
.line-bottom {
    content: '';
    width: 3px;
    height: 50px;
    background: black;
    left: 33.5px;
    bottom: 100px;
    position: absolute;
}
.career__why-box-item img {
    border: 3px black solid;
    border-radius: 10px;
    width: 70px;
    padding: 7px;
}
.arrow {
    content: '';
    width: 50px;
    height: 2px;
    background: black;
}
.career__why-box-item-text {
    display: flex;
    flex-direction: column;
    width: 700px;
    font-size: 20px;
}
.career__why-box-item-text p {
    font-family: 'MB';
}
.career__why-box-item-text p:last-child {
    font-family: 'MM';
}

/* training */

.training {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.training__title {
    margin-top: 50px;
    text-align: center;
    font-family: 'MB';
    font-size: 40px;
}
.training__box {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/trainingBG.jpg) no-repeat center /cover ;
    box-shadow: 0px -2px 20px 2px rgba(34, 80, 57, 0.2);
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    border-radius: 30px;
    margin-top: 30px;
    padding: 30px;
}
.training__box-title {
    margin-top: 30px;
    font-size: 35px;
    color: white;
    font-family: 'MM';
    text-align: center;
}
.training__box-text {
    margin-top: 50px;
    font-size: 25px;
    color: white;
    font-family: 'MM';
}
.training__box-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.training__box-list-text {
    font-family: 'ML';
    color: white;
    font-size: 20px;
}
.training__text {
    max-width: 1300px;
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
    font-family: 'MM';
    padding: 0 20px;
}

/* corporate */

.corporate {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.corporate__title {
    text-align: center;
    font-family: 'MB';
    margin-top: 50px;
    font-size: 40px;
}
.corporate__text {
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    font-family: 'MM';
    padding: 0 30px;
}
.corporate__box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 0 30px;
}
.corporate__box-item {
    display: flex;
    flex-direction: column;
    height: 250px;
    gap: 10px;
}
.corporate__box-item img {
    width: 250px;
}
.corporate__box-item p {
    width: 200px;
    font-family: 'MM';
}

/* vacancy */

.vacancy {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #339933 0%, #99ff33 100%);
    border-radius: 50px;
    height: 100%;
    padding: 50px 40px;
}
.vacancy__title {
    color: white;
    text-align: center;
    font-family: 'MB';
    font-size: 40px;
}
.vacancy__text {
    color: white;
    text-align: center;
    font-family: 'MM';
    font-size: 30px;
    margin-top: 20px;
}
.vacancy__ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.vacancy__ul-li {
    color: white;
    font-size: 25px;
    font-family: 'MM';
    text-align: justify;
}

/* vacancies link */

.vacancies__box {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 20px;
    padding: 40px 20px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
    border-radius: 12px;
    background: white;
}
.vacancy__link {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ececec;
    border-radius: 8px;
    background: linear-gradient(135deg, #2ecc71 0%, #27ae60 100%);
    transition: all 500ms;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08),
    0 1px 4px rgba(0, 0, 0, 0.06); 
    text-decoration: none;
    color: inherit;
}
.vacancy__link:hover {
    background: linear-gradient(135deg, #28c46a 0%, #219653 100%);
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.08);
}
.vacancy__link h2 {
    color: white;
    width: 100%;
    font-size: 20px;
}
.vacancy__link p {
    margin-top: 20px;
    color: white;
    font-family: 'MM';
}

/* faq */

.faq {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 40px;
}
.faq__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'MB';
    color: black;
}
.faq__intro {
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
    color: #444;
    font-family: 'MM';
}
.faq__item {
    border-bottom: 3px solid #ddd;
}
.faq__question {
    background: none;
    border: none;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    position: relative;
}
.faq__question::after {
    content: '+';
    position: absolute;
    right: 0;
    font-size: 40px;
    transition: transform 0.3s ease;
}
.faq__item.active .faq__question::after {
    transform: rotate(45deg);
}
  
.faq__answer {
    overflow: hidden;
    height: 0;
    transition: height 0.4s ease;
}
.faq__answer p, .faq__answer ul {
    font-family: 'MM';
    margin: 20px 0;
    font-size: 20px;
    list-style: inside;
}
.faq__answer a {
    color: #007BFF;
    font-family: 'MB';
}
.faq__answer a:hover {
    text-decoration: underline;
}
.faq__answer ul li {
    font-family: 'MM';
}

/* contact */

.contact {
    display: flex;
    flex-direction: column;
    background: hsl(152, 46%, 86%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 50px 50px 0 0 ;
    padding: 20px;
}
.contact__title {
    color: black;
    text-align: center;
    font-family: 'MB';
    font-size: 40px;
}
.contact__text {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact__text-item:first-child {
    font-size: 30px;
    margin-bottom: 30px;
}
.contact__text-item {
    font-size: 20px;
    font-family: 'MM';
}
.contact__text-item a {
    color: blue;
    font-family: 'MM';
}
.contact__text-item a:hover {
    text-decoration: underline;
}
.contact__box {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.contact__box-tell {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 20px;
    border-radius: 20px;
    border: 2px solid  hsl(151, 53%, 78%);
    width: 100%;
    background: #f5fffa;
}
.contact__box-tell-img {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.contact__box-tell-img img {
    width: 40px;
    border-radius: 50px;
    border: 2px solid #46A577;
    padding: 5px;
}
.contact__box-tell-img h2 {
    font-size: 20px;
    font-family: 'MM';  
}
.contact__box-tell-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact__box-tell-block ul {
    display: flex;
    gap: 30px;
}
.contact__box-tell-block ul li {
    background: hsl(150, 46%, 89%);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.contact__box-tell p {
    font-family: 'MM';
    font-size: 18px;
    margin-bottom: 10px;
}
.contact__box-tell a {
    font-size: 18px;
    color: black;
    font-family: 'MM';
    transition: all 300ms;
}
.contact__box-tell a:hover {
    text-decoration: underline;
}

/* column */

.contact__box-column {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

/* email */

.contact__box-email {
    display: flex;
    flex-direction: column;
    border: 2px solid  hsl(151, 53%, 78%);
    gap: 10px;
    padding: 15px 20px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: #f5fffa;
}
.contact__box-email-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact__box-email-flex img {
    width: 40px;
    border-radius: 50px;
    border: 2px solid #46A577;
    padding: 5px;
}
.contact__box-email-flex h2 {
    font-family: 'MM';
    font-size: 17px;
}
.contact__box-email a {
    margin-top: 10px;
    color: black;
    font-family: 'MM';
}
.contact__box-email a:hover {
    text-decoration: underline;
}
.contact__box-item-email-a:hover {
    color: gray;
}

/* social */

.contact__box-social {
    border: 2px solid  hsl(151, 53%, 78%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: #f5fffa;
}
.contact__box-social h2 {
    font-family: 'MM';
    font-size: 17px;
}
.contact__box-social-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact__box-social-flex img {
    width: 40px;
    border-radius: 50px;
    border: 2px solid #46A577;
    padding: 5px;
}
.contact__box-social-a {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact__box-social-a a img {
    width: 30px;
    transition: all 300ms;
}
.contact__box-social-a a img:hover {
    transform: scale(1.3);
}
.contact__box,
.contact__box-tell-block > div,
.contact__box-tell-block ul li,
.contact__box-email,
.contact__box-social {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08),
                0 1px 4px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    background: #fff;
}

/* location */

.contact__location {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__location-title {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'MM';
}
.contact__location-city {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    font-family: 'MM';
    background: white;
    border-radius: 10px;
    padding: 10px 20px;
}
.contact__location-text {
    font-family: 'MM';
    margin-top: 20px;
}
.contact__location-map iframe {
    border-radius: 30px;
    margin-top: 20px;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    background: black;
    padding: 50px 40px;
}
.footer__dad {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__logo img {
    width: 200px;
}
.footer__box {
    display: flex;
    flex-direction: column;
}
.footer__box-title {
    color: white;
    font-size: 20px;
}
.footer__box-ul {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__box-ul a {
    color: white;
    transition: all 300ms;
}
.footer__box-ul a:hover {
    color: gray;
}

.footer__tell {
    display: flex;
}
.footer__tell a {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    padding: 5px 10px;
}
.footer__tell p {
    color: white;
    font-family: 'MM';
}
.footer__tell-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__tell-link img {
    padding: 5px 10px 5px 0;
    width: 40px;
}

/* MEDIA REQUESTS MEDIA REQUESTS MEDIA REQUESTS */

@media (max-width: 1350px) {
    .welcome__title {
        font-size: 30px;
    }
    .direction__title {
        font-size: 30px;
    }
    .track__item img {
        width: 250px;
    }   
    .direction__text {
        margin-top: 20px;
        font-size: 30px;
        padding: 20px;
    }
    .corporate__box {
        flex-wrap: wrap;
        justify-content: center;
    }
    .line-top,
    .line-bottom {
        left: 25.5px;
    }
    .corporate__box-item img {
        width: 220px;
    }
    .career__title {
        font-size: 30px;
    }
    .career__box {
        height: 350px;
    }
    .career__box-text:first-child {
        font-size: 20px;
    }
    .career__box-text {
        font-size: 20px;
    }
    .career__why-title {
        font-size: 30px;
    }
    .career__why-box-item {
        width: 500px;
    }
    .career__why-box-item img {
        width: 50px;
    }
    .career__why-box-item-text p {
        font-size: 20px;
    }
    .training__box {
        height: 100%;
    }
    .training__title {
        font-size: 30px;
    }
    .training__box-title {
        font-size: 25px;
    }
    .training__box-text {
        font-size: 20px;
    }
    .training__box-list-text {
        font-size: 16px;
    }
    .training__text {
        font-size: 20px;
    }
    .corporate__title {
        font-size: 30px;
    }
    .corporate__text {
        font-size: 20px;
    }
    .vacancy__title {
        font-size: 30px;
    }
    .vacancy__text {
        font-size: 25px;
    }
    .vacancy__ul-li {
        font-size: 20px;
        text-align: left;
    }
    .vacancy__link {
        width: 280px;
    }
    .faq__title {
        font-size: 30px;
    }
    .faq__intro {
        font-size: 20px;
    }
    .faq__question {
        font-size: 20px;
    }
    .faq__answer p {
        font-size: 16px;
    }
    .contact__title {
        font-size: 30px;
    }
    .contact__text-item:first-child {
        font-size: 25px;
    }
    .contact__text-item {
        font-size: 16px;
    }
}

@media (max-width: 1320px) {
    .direction__box {
        flex-wrap: wrap;
        height: 100%;
        gap: 20px;
    }
}

@media (max-width: 1250px) {
    .track__item  {
        font-size: 20px;
    }
}

@media (max-width: 1050px) {
    .contact__box-tell-block ul {
        justify-content: space-between;
    }
    .contact__box-tell-block li p {
        font-size: 14px;
    }
    .contact__box-tell-block li a {
        font-size: 14px;
    }
    .contact__location-map iframe {
        width: 750px;
        height: 300px;
    }

}

@media (max-width: 1000px) {
    .nav__logo img {
        width: 140px;
    }
    .nav__list {
        gap: 30px;
    }
    .nav__list li {
        width: 95px;
    }
    .nav__list-link {
        font-size: 14px;
    }
    .welcome__title {
        font-size: 25px;
    }
    .welcome__box {
        padding: 0 20px;
    }
    .welcome__box-text p {
        font-size: 20px;
    }
    .welcome__box-img {
        display: none;
    }
    .direction__text {
        font-size: 25px;
    }
    .footer__logo img {
        width: 150px;
    }
    .footer__box-title {
        font-size: 18px;
    }
    .footer__box-ul a {
        font-size: 12px;
    }
    .footer__tell p {
        font-size: 12px;
    }
    .footer__tell-link img {
        width: 30px;
    }
}

@media (max-width: 860px) {
    .header__content-title {
        font-size: 60px;
    }
    .header__content-text {
        font-size: 35px;
        width: 545px;
    }
    .welcome__title {
        font-size: 20px;
    }
    .contact__location-map iframe {
        width: 500px;
    }
    .track {
        gap: 5px;
    }
    .track__item img {
        width: 200px;
    }   
    .direction__text {
        font-size: 20px;
    }
    .direction__box-item {
        width: 100%;
        flex-direction: column;
        padding: 20px;
    }
    .direction__box-item-text {
        width: 100%;
    }
    .direction__box-item img {
        width: 40px;
        height: 40px;
    }
    .career__why-title {
        font-size: 25px;
    }
    .career__why-box {
        gap: 20px;
    }
    .career__why-box-item img {
        width: 45px;
    }
    .career__why-box-item-text {
        width: 350px;
    }
    .career__why-box-item-text p {
        font-size: 16px;
    }
    .direction__box-item-text p {
        font-size: 16px;
    }
    .direction__box-item-text h2 {
        font-size: 20px;
    }
    .arrow {
        width: 30px;
    }
    .line-top {
        left: 48.5px;
        height: 30px;
        bottom: 215px;
    }
    .line-bottom {
        left: 48.5px;
        height: 30px;
    }
    .training__title {
        font-size: 25px;
    }
    .training__box-title {
        margin-top: 10px;
        font-size: 22px;
    }
    .training__box-text {
        font-size: 18px;
    }
    .training__box-list-text {
        font-size: 14px;
    }
    .training__text {
        font-size: 18px;
    }
    .corporate__box-item {
        height: 100%;
    }
    .corporate__box-item img {
        width: 250px;
    }
    .corporate__box-item p {
        font-size: 18px;
    }
    .corporate__title {
        font-size: 25px;
    }
    .corporate__text {
        font-size: 18px;
    }
    .vacancy {
        padding: 20px 40px;
        border-radius: 80px;
    }
    .vacancy__title {
        font-size: 25px;
    }
    .vacancy__text {
        font-size: 20px;
    }
    .vacancy__ul-li {
        max-width: 620px;
        width: 100%;
        font-size: 16px;
    }
    .faq__title {
        font-size: 25px;
    }
    .faq__intro {
        font-size: 16px;
    }
    .faq__question {
        font-size: 16px;
    }
    .faq__question::after {
        font-size: 25px;
    }
    .faq__answer p, .faq__answer ul {
        font-size: 14px;
    }
    .contact {
        border-radius: 70px 70px 0 0;
    }
    .contact__title {
        font-size: 25px;
    }
    .contact__text-item:first-child {
        font-size: 20px;
    }
    .contact__text-item {
        font-size: 14px;
    }
    .contact__box-column {
        flex-direction: column;
    }
    .contact__box-tell-block ul {
        flex-wrap: wrap;
        gap: 10px;
    }
    .contact__box-tell-img img,
    .contact__box-email-flex img,
    .contact__box-social-flex img {
        width: 35px;
    }
    .contact__box-tell-img h2,
    .contact__box-email-flex h2,
    .contact__box-social h2 {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .direction__box-item {
        width: 100%;
    }
    .vacancy__link {
        width: 200px;
        padding: 10px;
    }
    .vacancy__link h2 {
        font-size: 14px;
    }
    .vacancy__link p {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .header__content-title {
        font-size: 40px;
    }
    .header__content-text {
        font-size: 25px;
        width: 362px;
    }
    .career__box {
        height: 100%;
        padding: 50px 25px 25px 25px;
    }
}

@media (max-width: 540px) {
    .vacancies__box {
        gap: 10px;
    }
    .vacancy__link {
        width: 100%;
    }
    .contact__location-map iframe {
        width: 100% !important;
        height: 300px;
    }
}

@media (max-width: 480px) {
    .header__content-box {
        gap: 10px;
    }
    .header__content-title {
        font-size: 30px;
    }
    .header__content-text {
        font-size: 20px;
        width: 272px;
    }
    .welcome__title {
        margin-top: -50px;
        font-size: 16px;
    }
    .welcome__box {
        margin-top: 30px;
    }
    .welcome__box-text {
        border-radius: 20px;
        padding: 10px 5px;
        gap: 20px;
    }
    .welcome__box-text p {
        font-size: 16px;
    }
    .direction {
        margin-top: 20px;
    }
    .direction__title {
        font-size: 20px;
        padding: 10px 0;
    }
    .track__item img {
        width: 160px;
    }
    .direction__infinite-slider {
        padding: 5px;
    }
    .career__box {
        gap: 30px;
    }
    .career__box-text:first-child {
        font-size: 16px;
    }
    .career__box-text {
        font-size: 16px;
    }
    .career__title {
        font-size: 25px;
    }
    .career__why-title {
        font-size: 20px;
    }
    .career__why-box-item-text {
        width: 250px;
    }
    .line-top {
        left: 98.5px;
    }
    .line-bottom {
        left: 98.5px;
    }
    .training__title {
        font-size: 20px;
    }
    .training__box-title {
        font-size: 18px;
    }
    .training__box-text {
        font-size: 15px;
    }
    .training__box-list-text {
        font-size: 12px;
    }
    .training__text {
        font-size: 16px;
    }
    .corporate__title {
        margin-top: 20px;
        font-size: 20px;
    }
    .corporate__text {
        font-size: 16px;
    }
    .vacancy {
        border-radius: 20px;
        padding: 20px 10px;
    }
    .vacancy__title {
        font-size: 20px;
    }
    .vacancy__text {
        font-size: 15px;
    }
    .vacancy__ul-li {
        font-size: 12px;
    }
    .faq__title {
        font-size: 20px;
    }
    .faq__intro {
        font-size: 14px;
    }
    .faq__question {
        font-size: 12px;
    }
    .faq__answer p, .faq__answer ul {
        font-size: 10px;
    }
    .contact {
        border-radius: 20px;
    }
    .contact__title {
        font-size: 24px;
    }
    .contact__text-item:first-child {
        font-size: 16px;
    }
    .contact__box {
        gap: 30px;
    }
    .contact__box-email-flex h2,
    .contact__box-social h2 {
        font-size: 12px;
    }
    .contact__location-title {
        font-size: 20px;
    }
    .contact__location-city {
        font-size: 15px;
        padding: 5px 10px;
    }
    .contact__location-text {
        font-size: 12px;
        text-align: center;
    }
    .footer {
        padding: 30px 10px;
    }
    .footer__box-title {
        font-size: 14px;
    }
    .footer__box-ul a {
        font-size: 10px;
    }
    .footer__tell p {
        font-size: 10px;
    }
}